body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.orange-color{
    color: orange;
}
.flex-section{
    display: flex;
    padding-bottom: 10px;
}
.half-width{
    width: 50%;
    padding: 20px 20px;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 300;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 15px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}   
.section-para{
    text-align: justify;
}
.experience-item{
    width: 40%;
    margin: 5% 5%;
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: 10px 10px 40px gray;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#baby-exp-div{
    border-left: 7px solid;
    border-radius: 10px;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#full-exp-div{
    border-left: 7px solid;
    border-radius: 10px;
    border-image: linear-gradient(orange,violet);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}